## Assignment 2

In [82]:
import numpy as np
import pandas as pd

from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier

## Load Dataset

In [83]:
cols = ['ID','Thickness','Cell Size','Cell Shape', 'Adhesion', 'Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'Diagnosis']
df = pd.read_csv('breast-cancer-wisconsin.data', names=cols)
for i in df.columns:
    df[i] = df[i].replace('?', np.nan)

In [84]:
for i in df.columns:
    if(df[i].dtypes =='object' or df[i].dtypes =='int64'):
        df[i] = pd.to_numeric(df[i])
        df[i].fillna(df[i].mean(),inplace=True)

In [85]:
df.dtypes

ID                        int64
Thickness                 int64
Cell Size                 int64
Cell Shape                int64
Adhesion                  int64
Epithelial Cell Size      int64
Bare Nuclei             float64
Bland Chromatin           int64
Normal Nucleoli           int64
Mitoses                   int64
Diagnosis                 int64
dtype: object

- Diagnosis 2 for benign, 4 for malignant

In [86]:
X = df.iloc[:,1:-1]
X

,Thickness,Cell Size,Cell Shape,Adhesion,Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1.0,3,1,1
1,5,4,4,5,7,10.0,3,2,1
2,3,1,1,1,2,2.0,3,1,1
3,6,8,8,1,3,4.0,3,7,1
4,4,1,1,3,2,1.0,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2.0,1,1,1
695,2,1,1,1,2,1.0,1,1,1
696,5,10,10,3,7,3.0,8,10,2
697,4,8,6,4,3,4.0,10,6,1
698,4,8,8,5,4,5.0,10,4,1

In [87]:
y = df.iloc[:, -1]
y

0      2
1      2
2      2
3      2
4      2
      ..
694    2
695    2
696    4
697    4
698    4
Name: Diagnosis, Length: 699, dtype: int64

## Model

In [88]:

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)

## Evaluation

In [90]:
dt = DecisionTreeClassifier(criterion='entropy')
dt.fit(X_train, y_train)
test_prediction = dt.predict(X_test)
accuracy_score(y_test,test_prediction)

0.95